* {
    background: inherit;
}

html {
    font-size: 100%;
}

.hidden-mob {
    display: none;
}

header {
    background: white;
    height: 5rem;
}

h1 {
    text-align: center;
}

#form {
    background: white;
    height: 10rem;
}

#search-bar, #city-search-bar {
    max-width: 500px;
}

#buttons-container {
    padding: 10px 0px;
    max-width: 1200px;
    margin: auto;
}

#map-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
}

#map {
    height: 100vh;
}

main {
    margin-top: 120px;
}

.uk-button-secondary {
    margin-bottom: 5px;
}

@media screen and ( min-width: 1200px ) {
    .hidden-mob {
        display: block;
    }
} 

