html {
    font-size: 62.5%;
}

body {
    height: 1000rem;
}

.hidden-mob {
    display: none;
}

header {
    
    background: white;
    height: 5rem;
}

#form {
    
    background: white;
    height: 10rem;
}

#map-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}

#map {
    height: 100vh;
}

@media screen and ( min-width: 1200px ) {
    .hidden-mob {
        display: block;
    }
}